@import url("https://fonts.googleapis.com/css2?family=Poiret+One&display=swap");
body {
  font-family: "Poiret One", cursive;
  background-color: #e7ecff;
  margin: 0;
  padding: 0;
}

.title {
  text-align: center;
  color: rgb(90, 85, 85);
  margin-top: 15%;
  font-size: 80px;
}

.input{
  margin-top: 60px;
  border: 1px solid #e7fffa;
  background-color: #e7ecff;
  border-radius: 5px;
  font-family: "Poiret One", cursive;
  text-align: center;
  min-width: 300px;
  min-height: 40px;
  font-size: 20px;
}

.button {
  border: none;
  margin-top: 20px;
  padding: 10px;
  border-radius: 5px;
  font-family: "Poiret One", cursive;
  background-color: #e7fffa;
  transition: all ease 0.5s;
  cursor: pointer;
  width: 150px;
  height: 40px;
  font-size: 20px;
}

.button:hover {
  transform: scale(1.3);
}

.main {
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.timer {
  margin-top: 10%;
  color: rgb(90, 85, 85);
  font-size: 40px;
}

.rainbow{
  border: 1px solid black;
  border-radius: 5px;
  width: 100%;
  height: 100%;
}